#message
  = form_for message, remote: true, authenticity_token: true do |f|
    = f.label "Your message(in #{user['dialect']} dialect)"
    \:
    = f.text_field :content, required: true, class: "form-control", data: {textarea: "message"}
    = f.hidden_field :author, value: user
    = f.submit "send", class: "btn btn-primary"
